/*------------------------------

    Color definitions

------------------------------*/

$primary-bg-color: hsl(220, 6%, 28%);
$secondary-bg-color: hsl(220, 6%, 24%);

$foreground-color: #FFF;

$base-blue: hsl(210, 60%, 34%);
$base-blue-light: hsl(208, 66%, 40%);
$base-blue-lighter: hsl(208, 66%, 50%);

$base-green: hsl(143, 60%, 34%);
$base-green-light: hsl(140, 66%, 40%);
$base-green-lighter: hsl(140, 66%, 50%);
