/*------------------------------

    Color definitions

------------------------------*/

$primary-bg-color: hsl(220, 6%, 28%);
$secondary-bg-color: hsl(220, 6%, 24%);

$foreground-color: #FFF;

$base-blue: hsl(204, 43%, 42%);
$base-blue-light: hsl(206, 36%, 48%);
$base-blue-lighter: hsl(207, 36%, 52%);

$base-green: hsl(148, 42%, 43%);
$base-green-light: hsl(151, 67%, 41%);
$base-green-lighter: hsl(152, 67%, 44%);
