/*------------------------------

    Color definitions

------------------------------*/

$primary-bg-color: hsl(0, 0%, 20%);
$secondary-bg-color: hsl(220, 6%, 24%);
$secondary-bg-color-lighter: hsl(220, 9%, 28%);

$foreground-color: #FFF;

$base-blue: hsl(204, 43%, 42%);
$base-blue-light: hsl(206, 36%, 48%);
$base-blue-lighter: hsl(207, 36%, 52%);
$base-blue-gradient: -webkit-linear-gradient(top, hsl(204, 43%, 42%), hsl(204, 42%, 32%));

$base-green: hsl(148, 42%, 43%);
$base-green-light: hsl(151, 67%, 41%);
$base-green-lighter: hsl(152, 67%, 44%);
$base-green-gradient: -webkit-linear-gradient(top, hsl(148, 42%, 43%), hsl(147, 41%, 34%));
