/*------------------------------

    Color definitions

------------------------------*/

$background-color: #424242;
$foreground-color: #FFF;
$blue-highlight-A: #1C86ED;
$blue-highlight-B: #236CAD;
$green-highlight-A: #1CEB61;
$green-highlight-B: #23AD51;

/*------------------------------

    Fonts

------------------------------*/

@font-face {
	font-family: 'SourceSansProRegular';
	src: url('fonts/SourceSansPro-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo';
	src: url('fonts/entypo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*------------------------------

    Animations

------------------------------*/

@-webkit-keyframes slideIn {
	from {
		opacity: 0.3;
		top: -10px;
	}

	to {
		opacity: 1;
		top: 0;
	}
}

@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*------------------------------

    Custom scroll bar

------------------------------*/

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #686868;
	border-radius: 7px;
}

::-webkit-scrollbar-thumb {
	background: #1C6897;
}

/*------------------------------

    Base rules

------------------------------*/

* {
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'SourceSansProRegular';
	color: $foreground-color;
	background-color: $background-color;
	-webkit-user-select: none;
}

main {
	display: -webkit-flex;
	height: 100%;
	overflow: hidden;
}

ul {
	list-style: none;
}

/*------------------------------

    Helper classes

------------------------------*/

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.icon {
	font-family: 'entypo';
}

/*------------------------------

    Domains list & menu

------------------------------*/

.menu-icon {
	font-size: 2.1em;
	position: absolute;
	right: 10px;
	top: 0;
}

.menu-item {
	cursor: default;
	line-height: 1em;
	padding: 10px;
	position: relative;
	white-space: nowrap;

	&:hover { background: $blue-highlight-B; }
	&.selected { background: $blue-highlight-A; }
}

#domains-view {
	background: #2E2E2E;
	position: relative;
	-webkit-flex: 1;
	height: 100%;

	ul {
		height: -webkit-calc(100% - 36px);
		overflow-y: auto;
	}

	.new {
		height: 36px;

		.menu-item {
			@extend .menu-item;

			&:hover { background: $green-highlight-B; }
			&:active { background: $green-highlight-A; }
		}
	}
}

/*------------------------------

    Main view

------------------------------*/

#main-view {
	-webkit-flex: 2;
	padding: 2%;
	overflow-y: auto;

	& > div {
		position: relative;
		//-webkit-animation: slideIn .5s ease-out;
	}
}

/*------------------------------

    Section title

------------------------------*/

h2 {
	padding-bottom: 6px;
	box-shadow: 0 1px rgb(48, 48, 48), 0 2px rgb(88, 88, 88);
}

/*------------------------------

    Domain form

------------------------------*/

form {
	font-size: 1.2em;

	input, label {
		display: block;
	}

	label {
		margin-top: 20px;
	}

	input {
		margin-top: 7px;
		padding: 6px;
		width: 100%;
	}

	input[type="submit"] {
		margin-top: 26px;
		width: 100px;
		padding: 10px;
		background: $blue-highlight-B;
		border: none;
		color: $foreground-color;

		&:hover {
			background: $blue-highlight-A;
		}

		&:active {
			position: relative;
			top: 1px;
		}
	}
}

/*------------------------------

    Domain delete button

------------------------------*/

#delete {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px 6px 5px 5px;
	cursor: default;
	color: gray;

	&:hover {
		background: #333;
		color: #FFF;
	}

	.btn-text {
		position: relative;
		top: -3px;
	}

	.icon {
		line-height: 0;
		font-size: 2.7em;
		position: relative;
		margin-right: 1px;
		top: 2px;
	}
}

/*------------------------------

    Status messages

------------------------------*/

#messages {
	position: absolute;
	bottom: 0;
	right: 0;

	text-align: right;
}

.fade-in {
	-webkit-animation: fade-in .5s ease-out;
}

.fade-out {
	-webkit-animation: fade-in .5s ease-out reverse;
}
