<div class="edit">
    <h2>Edit domain</h2>

    <form ng-submit="save()">
        <label>Server Name</label>
        <input type="text" ng-model="domain.ServerName" value="{{ domain.ServerName }}" placeholder="Your domain name, example: domain.dev" required autofocus />

        <label>Document Root</label>
        <input type="text" ng-model="domain.DocumentRoot" value="{{ domain.DocumentRoot }}" placeholder="The path to your project folder" required />

        <!--<label>Server Admin</label>-->
        <!--<input type="text" ng-model="domain.ServerAdmin" value="{{ domain.ServerAdmin }}" />-->

        <!--<label>Server Alias</label>-->
        <!--<input type="text" ng-model="domain.ServerAlias" value="{{ domain.ServerAlias }}" />-->

        <!--<label>Custom Log</label>-->
        <!--<input type="text" ng-model="domain.CustomLog" value="{{ domain.CustomLog }}" />-->

        <input type="hidden" name="id" ng-model="domain.id" value="{{ domain.id }}" required />

        <input type="submit" value="Save" />
    </form>

    <div id="delete" data-toggle="modal" data-target="#deleteConfirmation">
	    <i class="fa fa-trash-o"></i> <span class="btn-text">Delete</span>
    </div>
</div>

<div class="modal fade" id="deleteConfirmation">
	<div class="modal-dialog">
		<div class="modal-content center">
			<div class="modal-header">
				<h4 class="modal-title">Delete {{ domain.ServerName }}</h4>
			</div>

			<div class="modal-body">
				<p>Do you want to remove this domain?</p>

				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="remove()">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
